{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <p class="blue">Nom d'utilisateur : {{ user.username }}<br>
        Rôle :
        {% if user.role == "ROLE_USER" %}
            Amateur
        {% elseif user.role == "ROLE_NATURALISTE" %}
            Naturaliste
        {% else %}
            Administrateur
        {% endif %}
    </p>
</div>
<div class="row text-center large-12">
    <div class="large-12 columns form-edit-profil">
        <img height="200" width="200" src="{% if user.role == "ROLE_ADMIN" %}{{ asset('images/png/Admin.png') }}{% elseif user.role == "ROLE_NATURALISTE" %}{{ asset('images/png/Naturaliste.png') }}{% elseif user.role == "ROLE_USER" %}{{ asset('images/png/Amateur.png') }}{% endif %}" alt="NAO" />
    </div>
</div>
<div class="large-12 columns text-center">
    <a href="{{ path('fos_user_profile_edit') }}" class="button third">CHANGER MON NOM D'UTILISATEUR</a>
    <a href="{{ path('fos_user_change_password') }}" class="button third">CHANGER MON MOT DE PASSE</a>
</div>