{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }}Mes observations
{% endblock %}
{% block body %}
<div class="row">
    <button class="button" id="see" data-url="{{ path('app_observation', {'id': '__id__'}) }}">Voir</button>
    <button class="button success" id="edit"  data-url="{{ path('app_editObservation', {'id': '__id__'}) }}">Éditer</button>
    <button class="button alert" id="delete">Supprimer</button>
    <a class="button third" href="{{ path('app_addObservation') }}">Ajouter une observation</a>
    <div class="text-center">
        {{ knp_pagination_render(pagination, ':modules:pagination.html.twig') }}
    </div>
    <table>
        <thead>
        <tr>
            <th>Selection</th>
            <th>Date</th>
            <th>Espèce</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for observation in pagination %}
            <tr>
                <td>
                    {{ form_start(formsArray[loop.index0], {'action': path('app_deleteObservation', {'id': observation.id}), 'method': 'DELETE', 'attr': {'id': observation.id}}) }}
                    {{ form_widget(formsArray[loop.index0]) }}
                    {{ form_end(formsArray[loop.index0]) }}
                    <input data-js="checkbox" type="checkbox" id="{{ observation.id }}">
                </td>
                <td>{{ observation.createdAt|date("d/m/Y H:i") }}</td>
                <td>{{ observation.specy }}</td>
                <td>{% if observation.state == "pending" %}En cours de validation{% elseif observation.state == "review" %}À revoir{% else %}Validé{% endif %}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if pagination|length == 0 %}
        <p>Vous n'avez pas encore d'observation</p>
    {% endif %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/editModule.js') }}"></script>
{% endblock %}