{% extends '::base.html.twig' %}
{% block title %}
    {{ parent() }}Mes observations
{% endblock %}
{% block body %}
<div class="row">
    <div class="greenBackground">
        <button class="button secondary" id="see" data-url="{{ path('app_observation', {'id': '__id__'}) }}"><img width="20px" src="{{ asset('images/png/eye.png') }}" alt="Voir"></button>
        <button class="button secondary" id="edit"  data-url="{{ path('app_editObservation', {'id': '__id__'}) }}"><img width="20px" src="{{ asset('images/png/editer.png') }}" alt="Éditer"></button>
        <button class="button secondary" id="delete"><img width="20px" src="{{ asset('images/png/croix blanche.png') }}" alt="Supprimer"></button>
        <a class="button secondary" href="{{ path('app_addObservation') }}"><img width="20px" src="{{ asset('images/png/ajouter.png') }}" alt="Ajouter une observation"></a>
            {{ knp_pagination_render(pagination, ':modules:paginationindex.html.twig') }}
        <table>
            <thead>
            <tr>
                <th>Selection</th>
                <th>Date</th>
                <th>Espèce</th>
                <th>Commentaire du naturaliste</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for observation in pagination %}
                <tr>
                    <td>
                        {{ form_start(formsArray[loop.index0], {'action': path('app_deleteObservation', {'id': observation.id}), 'method': 'DELETE', 'attr': {'id': observation.id}}) }}
                        {{ form_widget(formsArray[loop.index0]) }}
                        {{ form_end(formsArray[loop.index0]) }}
                        <input data-js="checkbox" type="checkbox" id="{{ observation.id }}">
                    </td>
                    <td>{{ observation.createdAt|date("d/m/Y H:i") }}</td>
                    <td>{{ observation.specy }}</td>
                    <td>{{ observation.observationComment }}</td>
                    <td>{% if observation.state == "pending" %}En cours de validation{% elseif observation.state == "review" %}À revoir{% else %}Validé{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pagination|length == 0 %}
            <p>Vous n'avez pas encore d'observation</p>
        {% endif %}
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/editModule.js') }}"></script>
{% endblock %}