<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block meta %} {% endblock %}
        <title>NAO | {% block title %}{% endblock %}</title>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            {% stylesheets 'css/app.css'
            filter='cssrewrite' output='css/app.css' %}
            {#css/compiled/app.css#}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
        {% block scripts %}{% endblock %}
    </head>
    <body>

        {% include "modules/header.html.twig" %}
        {% block mainTitle %}
            <div class="text-center callout ccf">
                <h1>{{ block('title')|upper }}</h1>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBSnphNr1QRiDrwOXEdohkSe5KNfJQOCU&sensor=false&callback=initMap" type="text/javascript" async defer></script>
            <script src="{{ asset('js/vendor/jquery.js') }}"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="{{ asset('js/vendor/motionui.js') }}"></script>
            <script src="{{ asset('js/vendor/whatinput.js') }}"></script>
            <script src="{{ asset('js/vendor/modernizr.js') }}"></script>
            <script src="{{ asset('js/vendor/foundation.js') }}"></script>
            <script src="{{ asset('js/bloodhound.js') }}"></script>
            <script src="{{ asset('js/typeahead.jquery.js') }}"></script>
            <script src="{{ asset('js/typeahead-addresspicker.js') }}"></script>
            <script src="{{ asset('js/jquery.ui.addresspicker.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
            <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us15.list-manage.com","uuid":"e9d7b9c5a9c6eb8316fda00f1","lid":"104e5167c7"}) })</script>
        {% endblock %}

    </body>
    {% include "modules/footer.html.twig" %}
</html>
