{% trans_default_domain 'FOSUserBundle' %}
{{ dump(form) }}
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr':{ 'novalidate': 'novalidate', 'data-abide': null, 'id': 'registerform'}}) }}
        <div class="columns large-12">
            <label class="secondary" for="lastname">IDENTITÉ</label>
        </div>
        <div class="columns large-6">
            {{ form_widget(form.lastname) }}
            {{ form_errors(form.lastname) }}
        </div>
        <div class="columns large-6">
            {{ form_widget(form.firstname) }}
            {{ form_errors(form.firstname) }}
        </div>
        <div class="columns large-12">
            <label class="secondary" for="prenom">EMAIL</label>
        </div>
        {% for emailField in form.email %}
            <div class="columns large-6">
                {{ form_widget(emailField) }}
                {{ form_errors(emailField) }}
            </div>
        {% endfor %}
        <div class="columns large-12">
            <label class="secondary" for="username">COMPTE UTLISATEUR</label>
        </div>
        <div class="columns large-12">
            {{ form_widget(form.username) }}
            {{ form_errors(form.username) }}
        </div>
        {% for passwordField in form.plainPassword %}
            <div class="columns large-6">
                {{ form_widget(passwordField) }}
                {{ form_errors(passwordField) }}
            </div>
        {% endfor %}
        <div class="columns medium-6 text-center">
            <button class="button third" type="submit">{{ 'JE M\'INSCRIS' }}</button>
        </div>
        <div class="columns medium-6 text-center">
            <label for="">Vous avez déja un compte ?</label>
            <a class="bold" href="{{ path('fos_user_security_login') }}">Connectez-vous</a>
        </div>
    {{ form_end(form) }}