{% trans_default_domain 'FOSUserBundle' %}
<<<<<<< HEAD
{% if error %}
    <div class="row small-12">
        <div class="callout row message-flash">
            <div><img width="30" src="{{ asset('images/png/echec.png') }}" alt=""></div><p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        </div>
    </div>
{% endif %}
=======
>>>>>>> ee676c5f046ead2b0b033e6b0e580452928ce1c2

<form name="fos_user_login_form" action="{{ path("fos_user_security_check") }}" method="post" id="loginform" data-abide novalidate>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="columns large-12">
    <label class="secondary" for="username">IDENTIFIANT</label>
    </div>
    <div class="columns large-12">
        <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Saisissez votre identifiant" required="required" />
        <span class="form-error">
            Votre identifiant est incorrect
        </span>
    </div>
    <div class="columns large-12">
    <label class="secondary" for="password">MOT DE PASSE</label>
    </div>
    <div class="columns large-12">
        <input type="password" id="password" name="_password" placeholder="Saisissez votre mot de passe" required="required" />
        <span class="form-error">
            Votre mot de passe est incorrect
        </span>
    </div>

    <div class="columns large-12 text-center">
        <label for="">        <a class="bold" href="{{ path('fos_user_resetting_request') }}">J'ai oublié mon mot de passe</a>
        </label>
        <a class="bold" href="{{ path('fos_user_registration_register') }}">Je créé un compte</a>
    </div>
    <div class="columns large-12 text-center">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        <button class="button third" type="submit">{{ 'JE ME CONNECTE' }}</button>
    </div>
</form>
