{% extends "base.html.twig" %}

{% block body %}
 <div class="row userForms">
     {% if error is defined%}
         {% if error.messageKey is defined%}
             <div class="callout row message-flash">
                 <div><img width="30" src="{{ asset('images/png/echec.png') }}" alt=""></div><p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
             </div>

         {% endif %}
     {% endif %}
        <div class="columns large-12 text-center alreadyLogin">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </div>
        <div class="columns large-12">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
</div>
{% endblock %}