{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}Guide du débutant
{% endblock %}
{% block meta %} <meta name="description" content="Nos amis les oiseaux le guide du débutant"/>{% endblock %}
{% block body %}
    <div id="schema">
        <div class="row text-center">
            <div class="medium-4 columns">
                <img width="100" height="100" src="{{ asset('images/png/avatar.png') }}" alt="Avatar"/><br><br>
                <p>1. Je m'inscris </p>
            </div>
            <div class="medium-4 columns">
                <img width="100" height="100" src="{{ asset('images/png/photo.png') }}" alt="Appareil photos"/><br><br>
                <p>2. Je signale un oiseau</p>
            </div>
            <div class="medium-4 columns">
                <img width="100" height="100" src="{{ asset('images/png/ecran.png') }}" alt="Ecran ordinateur"/><br><br>
                <p>3. Je consulte les rapports </p>
            </div>
        </div>
    </div>
    <div class="row medium-7 infos-guide">
        <h3>De quoi avez-vous besoin ?</h3>
        <ul class="liste-besoin">
            <li><img width="30" src="{{ asset('images/png/oeuf.png') }}"/>C'est très simple, il vous suffit de vous munir de votre appareil photo ou de votre smartphone et de nous adresser vos clichés d'oiseaux apreçus en France</li>
            <li><img width="30" src="{{ asset('images/png/oeuf.png') }}"/>Pas besoin de connaître toutes les espèces, vos observations seront validées par des professionnels avant d'être publiées</li>
        </ul>
        <h3>Comment procéder</h3>
        <ol class="list-steps">
            <li>Vous vous <strong>inscrivez</strong></li>
            <li>Vous vous <strong>connectez</strong> avec vos identifiants</li>
            <li>Vous <strong>accedez</strong> au "Tableau de mes observations"</li>
            <li>Vous <strong>ajoutez</strong> une observation</li>
            <li>Votre observation est <strong>validée</strong> par un naturaliste</li>
            <li>Votre observation est <strong>publiée</strong></li>
        </ol>
        <br>
        <div class="row text-center">
            <a href="{{ path('app_addObservation') }}" class="button large third text-center">Commencer</a>
        </div>

    </div>

{% endblock %}