{% extends 'base.html.twig' %}
{% block title %}
    Nos Amis Les Oiseaux association à but non lucratif
{% endblock %}
{% block mainTitle %}
    <div class="text-center callout ccf">
        <h1>COMMENT ÇA FONCTIONNE ?</h1>
    </div>
{% endblock %}
{% block meta %}<meta name="description" content="Nos Amis les Oiseaux association à but non lucratif pour la protection des oiseaux et de leur habitat !"/>{% endblock %}
{% block body %}
    <div class="row text-center">
        {% for flashMessage in app.session.flashbag.get('notification') %}
            <div class="notification">{{ flashMessage }}</div>
        {% endfor %}
        <div class="medium-4 columns pictos-fonctionnement">
            <a href="{{ path('fos_user_registration_register') }}">
                <img height="100" width="100" src="{{ asset('images/svg/Picto internaute.svg') }}" alt="NAO" />
                <p>Je m'inscris
                </p>
            </a>
        </div>
        <div class="medium-4 columns pictos-fonctionnement">
            <a href="{{ path('app_addObservation') }}">
                <img height="100" width="100" src="{{ asset('images/svg/Picto photo.svg') }}" alt="NAO" />
                <p>
                    Je signale un oiseau
                </p>
            </a>

        </div>
        <div class="medium-4 columns pictos-fonctionnement">
            <a href="http://eepurl.com/cQc9PD" target="_blank">
                <img height="100" width="100" src="{{ asset('images/svg/Picto ecran.svg') }}" alt="NAO" />
                <p>
                    Je consulte les rapports
                </p>
            </a>
        </div>

        <div class="large-4 columns align-right" data-toggle="info-rapports">
            <a href="{{ path('app_guide_debutant') }}" class="button">EN SAVOIR PLUS</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns" id="last-observations">
            <div class="large-8 columns">
                <div class="row small-up-12 medium-up-2 last-observations-block" data-equalizer data-equalize-on="medium">
                    <h2 class="callout white greenBackground last-title">DERNIÈRES OBSERVATIONS D'OISEAUX</h2>
                {% for bird in list %}
                    <div class="column last-observation">
                        <div class="card ">
                            <a href="{{ path('app_observation', {'id' :  bird.id}) }}">
                                <div class="img-card" data-equalizer-watch style="max-height: 200px; overflow: hidden;">
                                    {% if bird.image is null %}
                                        <img src="{{ asset('images/png/oiseau-silhouette.png') }}" alt="{{ bird.specy.nomVern }}" style="width: 100%">
                                    {% else %}
                                        <img src="{{ asset('img/' ~ bird.image.url) }}" style="width: 100%">
                                    {% endif %}

                                </div>
                                <div class="card-section">
                                    <p>
                                        Observé par {% if bird.user != null %} {{ bird.user.username }} {% else %}Inconnu{% endif %}, le  {{ bird.createdAt|date('d/m/Y') }}<br>
                                        {% if bird.specy.nomVern == "" %}
                                            {{ bird.specy.lbNom|slice(0, 20) ~ '...' }}
                                        {% else %}
                                            {{ bird.specy.nomVern|slice(0, 20) ~ '...' }}
                                        {% endif %}
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                    <div class="column last-observation">
                        <div >
                            <a href="{{ path('app_addObservation') }}">
                                <div  data-equalizer-watch>
                                    <a href="{{ path('app_addObservation') }}" id="bouton-signaler" class="button third expanded"><img height="50" width="50" src="{{ asset('images/png/Doigt.png') }}" alt="NAO" style="margin-top: 4.5em;" />
                                        <p>
                                           JE SIGNALE UN OISEAU
                                        </p>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-4 columns text-center bloc-action-home">
                <a href="{{ path('app_search') }}" class="button expanded"><img height="50" width="50" src="{{ asset('images/png/Loupe.png') }}" alt="NAO" />
                    <p>
                        JE RECHERCHE UN OISEAU
                    </p></a>
            </div>
            <div class="large-4 columns text-center bloc-action-home">
                <a href="https://www.donnerenligne.fr/nos-amis-les-oiseaux/faire-un-don" target="_blank" class="button third expanded"><img height="50" width="50" src="{{ asset('images/png/icone_don.png') }}" alt="NAO" />
                    <p>
                        JE FAIS UN DON A L'ASSOCIATION
                    </p></a>
            </div>
            <div class="large-4 columns text-center bloc-action-home">
                <a href="http://eepurl.com/cQc9PD" target="_blank" class="button secondary expanded"><img height="50" width="50" src="{{ asset('images/png/icone_news.png') }}" alt="NAO" />
                    <p>
                        JE RESTE INFORMÉ
                    </p></a>
            </div>


        </div>
    </div>
{% endblock %}
