{% extends '::base.html.twig' %}
{% block title %}
    Fiche d'observation
{% endblock %}
{% block body %}
    <div class="row">
        <a href="{{ path('app_specy', {'id': observation.specy.cdNom}) }}" class="button">Retour à la fiche de l'espèce</a>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <h3>{% if observation.specy.nomVern == "" %}
                    {{ observation.specy.lbNom }}
                {% else %}
                    {{ observation.specy.nomVern }}
                {% endif %}</h3>
            {% if observation.image is null %}
                <img src="{{ asset('images/png/oiseau-silhouette.png') }}" alt="{{ observation.specy.nomVern }}">
            {% else %}
                <img src="{{ asset('img/' ~ observation.image.url) }}" alt="{{ observation.specy.nomVern }}">
             {% endif %}
            <p>Coordonnées : {{ observation.longitude }}, {{ observation.latitude }}</p>
            <p>Observée par :{% if observation.user != null %} {{ observation.user.username }}{% else %}Inconnu{% endif %}</p>
            <p>Commentaire : {{ observation.comment }}</p>
            <p>Observé le {{ observation.createdAt|date('d-m-Y') }} à {{ observation.createdAt|date('H\\h\i') }}</p>
        </div>
        <div class="large-5 columns">
            {% include ':modules:map.html.twig' %}
        </div>
        <div class="large-3 columns">
            {{ include(':modules:sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}