{% extends '::base.html.twig' %}
{% block title %}
    Le projet et ses partenaires
{% endblock %}
{% block meta %}<meta name="description" content="NAO son projet écologique et scientifique et ses partenaires"/>{% endblock %}
{% block body %}
<div class="projet">
    <div class="row">
        <h2>Le projet</h2>
        <div class="small-12">
            <img src="{{ asset('images/jpg/le_projet.jpg') }}" alt="">
        </div>
        <div class="columns medium-12 small-12 medium-offset-0">
            <p class="blue">Le programme vise à recenser les oiseaux en fonction de leur espèce, du lieu et du moment de l'observation.<br>L'ensemble des observations saisies servira à alimenter une base de donnée en vue de l'étude du comportement des oiseaux<br>face aux différents changements tant de leur écosystème que du climat.<br>Apprenez à reconnaître les oiseaux et comptez-les régulièrement dans votre jardin, dans un parc public, lors de balades champêtres<br>ou même sur votre balcon !<br><br>D'autres programmes ont déjà été mis en place notamment <strong>l’atlas des oiseaux nicheurs de France métropolitaine</strong>,<br>un projet collectif initié par la<a href="https://www.lpo.fr/" onclick="window.open(this.href); return false;"> Ligue pour la Protection des Oiseaux</a>et la <a href="http://seofalauda.wixsite.com/seof" onclick="window.open(this.href); return false;">Société d’Etudes Ornithologiques de France</a>.<br>Les données collectées serviront également à alimenter et faire évoluer <a href="https://fr.wikipedia.org/wiki/Atlas_ornithologique" onclick="window.open(this.href); return false;">L'Atlas ornithologique.</a><br>
            </p>
        </div>
            <h2>Les 8 espèces suivantes sont en danger critique d'extinction</h2>
        <ul>
            <li class="blue"><img src="{{ asset('images/png/Oeuf.png') }}" alt="Oeuf vert" style="width: 20px; height: 28px;">Echenilleur de la réunion</li>
            <li class="blue"><img src="{{ asset('images/png/Oeuf.png') }}" alt="Oeuf vert" style="width: 20px; height: 28px;">Petrel noir de Bourbon</li>
            <li class="blue"><img src="{{ asset('images/png/Oeuf.png') }}" alt="Oeuf vert" style="width: 20px; height: 28px;">Puffin des Baléares</li>
            <li class="blue"><img src="{{ asset('images/png/Oeuf.png') }}" alt="Oeuf vert" style="width: 20px; height: 28px;">Egothene Calédonien</li>
            <li class="blue"><img src="{{ asset('images/png/Oeuf.png') }}" alt="Oeuf vert" style="width: 20px; height: 28px;">Lori à Diadème</li>
            <li class="blue"><img src="{{ asset('images/png/Oeuf.png') }}" alt="Oeuf vert" style="width: 20px; height: 28px;">Rale de Lafresnaye</li>
            <li class="blue"><img src="{{ asset('images/png/Oeuf.png') }}" alt="Oeuf vert" style="width: 20px; height: 28px;">Martin-pêcheur des Gambier</li>
            <li class="blue"><img src="{{ asset('images/png/Oeuf.png') }}" alt="Oeuf vert" style="width: 20px; height: 28px;">Monarque de Tahiti</li>
        </ul>
    </div>
    <div class="row">
        <h2>Les partenaires</h2>
        <br>
        <div class="logo columns small-6"><a href="https://www.mnhn.fr/"><img src="{{ asset('images/png/LogoMNHN.png') }}" alt="Logo Muséum national d'histoite naturelle"></a>
        </div>
        <div class="logo columns small-6"><a href="https://www.lpo.fr/"><img src="{{ asset('images/png/logoLPO.png') }}" alt="Logo Ligue de protection des oiseaux"></a>
        </div>
    </div>


</div>



{% endblock %}
