{% extends '::base.html.twig' %}


{% block body %}
    <div class="text-center callout ccf">
        <h1>{% if specy.nomVern == "" %}
                {{ specy.lbNom }}
            {% else %}
                {{ specy.nomVern }}
            {% endif %}     - ({{ observations|length }} observations)</h1>
    </div>
    {% if observations is  defined %}
        <div class="row">
            {% for observation in observations %}
                {% if loop.index == 1 %}
            <div class="large-4 columns">
                        <h4>La dernière observation : </h4>
                        {% if observation.image is null %}
                            <img src="{{ asset('images/png/oiseau-silhouette.png') }}" alt="{{ observation.specy.nomVern }}">
                        {% else %}
                            <img src="{{ asset('img/' ~ observation.image.url) }}" alt="{{ observation.specy.nomVern }}">
                        {% endif %}

                        <p>Coordonnées : {{ observation.longitude }}, {{ observation.latitude }}</p>
                        <p>Observée par : {{ observation.user.username }}</p>
                        <p>Commentaire : {{ observation.comment }}</p>
            </div>
            <div class="large-5 columns">
                {% include ':modules:map.html.twig' %}
            </div>
                {% endif %}
            {% endfor %}
            {% if observations is not empty %}
            <div class="large-3 columns">
               {{ include(':modules:sidebar.html.twig') }}
            </div>
            {% endif %}
        </div>
    {% endif %}

    {% if observations is empty %}
        <div class="row text-center">
            <h3 class="row text-center">
                Cette espèce n'a encore jamais été observée
            </h3>
            <a href="{{ path('app_addObservation') }}" class="button large">Ajouter une observation de cette espèce</a>
        </div>

    {% endif %}

{% endblock %}