{% extends '::base.html.twig' %}
{% block title %}
    Fiche espèce -
    {% if specy.nomVern == "" %}
        {{ specy.lbNom }}
    {% else %}
        {{ specy.nomVern }}
    {% endif %}     - ({{ observations|length }} observations)
{% endblock %}
{% block mainTitle %}

{% endblock %}
{% block body %}
    <div class="text-center callout ccf">
        <h1>
            {% if specy.nomVern == "" %}
                {{ specy.lbNom }}
            {% else %}
                {{ specy.nomVern }}
            {% endif %}     - ({{ observations|length }} observations)
        </h1>
    </div>
    {% if observations is defined %}
        <div class="row large-8 description-observation">
            {% for observation in observations %}
                {% if loop.index == 1 %}
                <div class="columns small-12">
                    <h4 class="titre-observation callout">
                        {% if observation.specy.nomVern == "" %}
                            {{ observation.specy.lbNom }}
                        {% else %}
                            {{ observation.specy.nomVern }}
                        {% endif %} - {{ observations|length }} observation(s)</h4>
                </div>
                <div class="large-6 small-12 columns">
                    <h5>La dernière observation : </h5>
                    {% if observation.image is null %}
                        <img src="{{ asset('images/png/oiseau-silhouette.png') }}" alt="{{ observation.specy.nomVern }}">
                    {% else %}
                        <img src="{{ asset('img/' ~ observation.image.url) }}" alt="{{ observation.specy.nomVern }}">
                    {% endif %}
                </div>
            <div class="large-6 small-12 columns">
                {% include ':modules:map.html.twig' %}
            </div>
                    <div class="columns">
                        <p><span class="gras">Coordonnées : </span>{{ observation.longitude }}, {{ observation.latitude }}</p>
                        <p><span class="gras">Observée par : </span>{{ observation.user.username }}</p>
                        <p><span class="gras">Commentaire :</span> <br>{{ observation.comment }}</p>
                        <p><span class="gras">Observé le : </span>{{ observation.createdAt|date('d-m-Y') }} à {{ observation.createdAt|date('H\\h\i') }}</p>
                    </div>
                {% endif %}
            {% endfor %}
            {% if observations is not empty %}
            <div class="large-6 small-12 columns dernieres-observations">
               {{ include(':modules:sidebar.html.twig') }}
            </div>
            {% endif %}
        </div>
    {% endif %}

    {% if observations is empty %}
        <div class="row text-center">
            <h3 class="row text-center">
                Cette espèce n'a encore jamais été observée
            </h3>
            <a href="{{ path('app_addObservation') }}" class="button large">Ajouter une observation</a>
        </div>

    {% endif %}

{% endblock %}